---
type: "no-sidebar"
title: "accomodation"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2><i class="fa fa-home" aria-hidden="true"></i> Accomodation</h2>
            </header>

            <div class="block">
                <h3>1st Year Students</h3>
                <p>
                    Generally, for first year undergraduate students, the University offers halls. Most students normally choose this as their default option.
                </p>

                <p>
                    If you would like, you can try and find Muslim house mates using our social media (Facebook, WhatsApp etc) to get a few people together and rent a house/accommodation privately.
                </p>
            </div>

            <div class="block">
                <h3>Everyone else</h3>
                <p>
                    Most students who are not 1st Year Students generally rent houses privately with a few friends or rent one of the 3rd party halls.
                </p>

                <p>If you are looking for accommodation or Muslim house mates, you can join our accommodation Facebook groups:</p>
                <ul>
                    <li>Brothers - <a href="https://www.facebook.com/groups/811677035581551">https://www.facebook.com/groups/811677035581551</a></li>
                    <li>Sisters - <a href="https://www.facebook.com/groups/408326482702433">https://www.facebook.com/groups/408326482702433</a></li>
                </ul>

                <p>Or you can email:</p>
                <ul>
                    <li>Aaquib Naved - <a href="mailto:headbrother@ubisoc.co.uk">headbrother@ubisoc.co.uk</a></li>
                    <li>Nimco Mumin - <a href="mailto:headsister@ubisoc.co.uk">headsister@ubisoc.co.uk</a></li>
                </ul>
            </div>
        </article>
    </div>
</div>
