---
type: "no-sidebar"
title: "accommodation"
htitle: "Accommodation"
description: "Easily find accommodation in Birmingham"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2><i class="fa fa-home" aria-hidden="true"></i> Accommodation</h2>
            </header>

            <div class="block">
                <h3>1st Year Students</h3>
                <p>
                    Generally, for first year undergraduate students, the University offers halls. Most students normally choose this as their default option.
                </p>

                <p>
                    If you would like, you can try and find Muslim house mates using our social media (Facebook, WhatsApp etc) to get a few people together and rent a house/accommodation privately.
                </p>
            </div>

            <div class="block">
                <h3>Everyone else</h3>
                <p>
                    Most students who are not 1st Year Students generally rent houses privately with a few friends or rent one of the 3rd party halls.
                </p>

                <p>If you are looking for accommodation or Muslim house mates, you can fill in our accommodation form below.<br><br>

                <a href="https://docs.google.com/forms/d/e/1FAIpQLScK6vPbuThyYYFhoSQPXjo1Ch9se1g-GqY3Yu87_wGfTddiZg/viewform">Accommodation Form</a><br><br>

                We’ll try our best to get in touch with you when we receive enough responses so we can suggest individuals to look for accommodation with.<br><br>

                NOTE: This service is not to choose housemates for you. It’s to get a list of individuals looking for accommodation and housemates and then suggesting other individuals to them. We do not assign housemates. This is to ensure it is completely your decision who you share accommodation with. This service is just to help with the process of finding other likeminded people who are in the same position as you.
                </p>
                <ul>
                    <li>Brothers - <a href="https://www.facebook.com/groups/811677035581551">https://www.facebook.com/groups/811677035581551</a></li>
                    <li>Sisters - <a href="https://www.facebook.com/groups/408326482702433">https://www.facebook.com/groups/408326482702433</a></li>
                </ul>

                <p>Alternatively, you can join our Facebook groups:</p>
                <ul>
                    <li>Brothers - <a href="https://www.facebook.com/groups/811677035581551">https://www.facebook.com/groups/811677035581551</a></li>
                    <li>Sisters - <a href="https://www.facebook.com/groups/408326482702433">https://www.facebook.com/groups/408326482702433</a></li>
                </ul>

                <p>Or you can email:</p>
                <ul>
                    <li>Aaquib Naved - <a href="mailto:headbrother@ubisoc.co.uk">headbrother@ubisoc.co.uk</a></li>
                    <li>Nimco Mumin - <a href="mailto:headsister@ubisoc.co.uk">headsister@ubisoc.co.uk</a></li>
                </ul>
            </div>
        </article>
    </div>
</div>
