---
type: "no-sidebar"
title: "halal-places-to-eat"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2><i class="fa fa-cutlery" aria-hidden="true"></i> Halal places to eat on &amp; around campus</h2>
			</header>

      <div class="block">
        <h3>On campus</h3>
        <p>
          According to the University, all chicken served in all University owned restaurants is halal.
          You can find halal sandwiches in both Spar outlets (in the Guild of Students building and in University Centre).
          Subway in the Guild of Students Building is not halal.
        </p>
      </div>

      <div class="block">
        <h3>Around campus</h3>
        <div id="map"></div>
      </div>
		</article>
	</div>
</div>
