---
type: "no-sidebar"
title: "local-mosques"
htitle: "Local mosques"
description: "Find the mosques near the University of Birmingham."
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
      <header>
        <h2 class="text-center">Local mosques</h2>
      </header>
      <div id="map"></div>
      <h3>University of Birmingham Chaplaincy (St Francis Hall) - University of Birmingham, B15 2TT</h3>
      <p>
        Not exactly a mosque but it is a multi-faith centre which religious societies at the University of Birmingham use.
        Located right behind the Guild of Students, it is the venue which the Islamic Society use to host Jumuah (Friday Prayers) every single Friday of the year.
      </p>

      <h3>Jalalabad Mosque - 24 Dartmouth Road, B29 6DR</h3>
      <p>
        A local mosque located in Selly Oak. The only mosque within a 30 minute walk of campus.
        Congregational prayer for every prayer is held in this mosque every single day of the year.
        They hold Friday and Eid Day Prayers.
      </p>

      <h3>Muslim Student House Mosque - 517 Moseley Rd, B12 9BX</h3>
      <p>
        The closest mosque after Jalalabad and is located in Moseley. 45 minute walk from campus. Quite a large mosque with regular events and activities.
        FOSIS (Federation of Student Islamic Societies), MAB Youth (Muslim Association of Britain) and the University of Birmingham Islamic Society all
        work in partnership with Muslim Student House and share facilities. Congregational prayer for every prayer is held in this mosque every single day of the year.
        They hold Friday and Eid Day Prayers.
      </p>
		</article>
	</div>
</div>
