---
type: "no-sidebar"
title: "prayer-times"
htitle: "Prayer times"
description: "Find the prayer times and the jama'ah times prayed in the prayer room in the Guild of Students."
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2 align="center">Prayer times March 2018</h2>
                <p align="center">
                    Main Jumu'ah Khutbah starts at <strong>1.10pm</strong> and takes place in <br>
                    <strong>St Francis Hall, Chaplaincy Birmingham B15 2TT</strong><br><br>
                    Early Jumu'ah Khutbah starts at <strong>12.30pm</strong> and takes place in <br>
                    <strong>St Francis Hall, Chaplaincy Birmingham B15 2TT</strong>
                </p>
            </header>

            <%= tag :img, :src => "/images/prayer-timetables/pt-march-2018.jpg", :class => "image" %>
            <!--<table>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th width="50px"></th>
                        <th>Fajr starts</th>
                        <th>Sunrise</th>
                        <th>Dhuhr starts</th>
                        <th>Dhuhr jama'ah</th>
                        <th>Asr starts (1)</th>
                        <th>Asr starts (2)</th>
                        <th>Asr jama'ah</th>
                        <th>Maghrib</th>
                        <th>Isha starts</th>
                        <th>Isha jama'ah</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>-->
        </article>
    </div>
</div>
