---
type: "no-sidebar"
title: "public-transport"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2><i class="fa fa-bus" aria-hidden="true"></i> Public transport</h2>
                <p>
                    The University of Birmingham has great transport links to help you get to the places you want to be in Birmingham.
                </p>
            </header>

            <div class="block">
                <h3>Train</h3>
                <p>
                    The University is the only University in the UK with a train station campus and trains from here reach Birmingham New Street (City Centre) in 7 minutes (going through Five Ways).
                </p>
            </div>

            <div class="block">
                <h3>Bus</h3>
                <p>
                    The best buses to take you to the City Centre are the 61/63 buses. There are mutliple bus stops on Bristol road which you can take which all take you to the City Centre in around 20/25 minutes.
                </p>
                <p>
                    Fortunately, our Guild of Students has worked hard to lobby the council to give students cheaper bus fares so now, starting from the academic year 2017/18, every student can take a <strong>bus to the City Centre for only £1</strong>!
                </p>
                <p>
                    Normal fares are <strong>£4 for a daysaver</strong> (unlimited travel on any bus for the whole Birmingham for the whole day).
                </p>
            </div>
        </article>
    </div>
</div>
