---
type: "no-sidebar"
title: "alumni"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Alumni</h2>
                <p>
                    The University of Birmingham Islamic Society Alumni Network is a new initiative to reconnect the Islamic Society Alumni to each other and the current Islamic Society members. We aim to build on these connections to embark on ambitious projects to benefit
                    Muslims at the University of Birmingham and our local community.
                </p>
            </header>

            <h2>Upcoming events</h2>

            <div class="block">
                <h3>Alumni Dinner</h3>

                <p>
                    The Alumni Reunion Dinner is a dinner organised by the University of Birmingham Islamic Society launching our Alumni Network and bringing back together people who were part of the Islamic Society to meet old friends and celebrate the achievements of the
                    Islamic Society.
                </p>

                <p>
                    We'll be outlining the plans we have for the Alumni Network and how you can get involved. The dinner will feature motivating talks from notable Alumni such as <strong>Dr Hany El Banna</strong> and <strong>Shaykh Zaheer</strong> as
                    well as stalls which will chart the history of the University of Birmingham Islamic Society from its very founding to the current day.
                </p>

                [Facebook event link] [Ticket Link] [Poster]
            </div>
        </article>
    </div>
</div>
