---
type: "no-sidebar"
title: "charity-week"
additional_css: ["https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", "http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"]
additional_js: ["https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"]
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2>Charity Week</h2>
				<p>
          Charity Week is an annual campaign run by Islamic Societies across the country where they raise money for a particular cause over the course of a week.
				</p>
			</header>

      <p>
        It's a fantastic week not just for raising money for charity, but also for unifying the
        Muslim students at each University to come together for one cause.
        It's a rewarding experience which really develops you, whether you are
        a committee member, volunteer or even just a passing donor.
      </p>

      <p>
        The University of Birmingham Islamic Society runs Charity Week during <strong>Week 7
        of Term (Start of November)</strong>. We choose a Charity and cause each year to fundraise
        for and then go all out in our efforts to raise more than the previous year.
        We organise a <strong>Charity Dinner</strong>, a <strong>sponsored climb</strong>, sell the iconic Krispy Kreme
        Doughnuts and much much more!
      </p>

      <p>
        University of Birmingham Islamic Society do it a little differently to other
        Islamic Societies. We recruit volunteers to be part of sub teams for Charity
        Week which organise specific parts of Charity Week like the a <strong>Charity Quiz</strong>.
        Everyone is welcome to join a team and we have <strong>Planning Meetings</strong> a few weeks
        before Charity Week where you can attend and join a team and plan Charity Week
        events with them. It's a great opportunity to volunteer for a fantastic cause
        and build up your own organisational and team working skills.
      </p>

      <blockquote>
        If you would like to get involved, please email: Anas Abu (<a href="mailto:vicebrother@ubisoc.co.uk">vicebrother@ubisoc.co.uk</a>).
      </blockquote>

      <blockquote>
        This year, we are raising money for Human Appeal International (<a href="https://donate.humanappeal.org.uk">https://donate.humanappeal.org.uk</a>).
      </blockquote>

      <div class="block">
        <h3>Previous Charity Weeks by the Islamic Society</h3>

        <p>
          Previous Charity Weeks have been a huge success. Last year we raised <strong>over £26,000</strong> for a <strong>Water Sanitation Project in Bangladesh</strong>.
          The year before we raised around <strong>£25,000</strong> for the <strong>Zaatari Refugee Camp in Jordan</strong>.
        </p>
      </div>

      <div class="block">
        <h3>Previous Charity Weeks gallery</h3>

				<div class="grid">
					<% for i in 1..14 %>
					<div class="grid-item">
						<%= tag :img, :src => "/images/cw-16-17/p#{i}.jpg" %>
					</div>
					<% end %>
				</div>
      </div>
		</article>
	</div>
</div>
