---
type: "no-sidebar"
title: "charity-week"
htitle: "Charity Week"
description: "Charity Week is an annual campaign run by Islamic Societies across the country where they raise money for a particular cause over the course of a week."
additional_css: ["photoswipe/photoswipe.css", "photoswipe/default-skin/default-skin.css"]
additional_js: ["photoswipe/photoswipe.min.js", "photoswipe/photoswipe-ui-default.min.js"]
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2>Charity Week</h2>
                <p>
                    Charity Week is an annual campaign run by Islamic Societies across the country where they raise money for a particular cause over the course of a week.
                </p>
            </header>

			<iframe class="yt-video" src="https://www.youtube.com/embed/4sM3vRu5P4U">
            </iframe>

            <p>
                It's a fantastic week not just for raising money for charity, but also for unifying the Muslim students at each University to come together for one cause. It's a rewarding experience which really develops you, whether you are a committee member, volunteer
                or even just a passing donor.
            </p>

            <p>
                The University of Birmingham Islamic Society runs Charity Week during <strong>Week 7
        of Term (Start of November)</strong>. We choose a Charity and cause each year to fundraise for and then go all out in our efforts to raise more than the previous year. We organise a <strong>Charity Dinner</strong>, a <strong>sponsored climb</strong>,
                sell the iconic Krispy Kreme Doughnuts and much much more!
            </p>

			<div class="gallery-preview">
                <%= tag :img, :src => "/images/cw-16-17/p1.jpg" %>
                <div class="gp-content">
                    <h1><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</h1>
                    <p>
						From Charity Quiz to Charity Dinner, from sponsored
						climb in Snowdon to bucket collections, Charity Week 2016
						has been a great week in support of a great cause.
					</p>
                </div>
                <div class="gp-overlay">
                    <div class="gp-button">
                        <i class="fa fa-search" data-gallery="gallery" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <p>
                University of Birmingham Islamic Society do it a little differently to other Islamic Societies. We recruit volunteers to be part of sub teams for Charity Week which organise specific parts of Charity Week like the a <strong>Charity Quiz</strong>.
                Everyone is welcome to join a team and we have <strong>Planning Meetings</strong> a few weeks before Charity Week where you can attend and join a team and plan Charity Week events with them. It's a great opportunity to volunteer for a
                fantastic cause and build up your own organisational and team working skills.
            </p>

            <blockquote>
                If you would like to get involved, please email: Anas Abu (<a href="mailto:vicebrother@ubisoc.co.uk">vicebrother@ubisoc.co.uk</a>).
            </blockquote>

            <blockquote>
                This year, we are raising money for Human Appeal International (<a href="https://donate.humanappeal.org.uk">https://donate.humanappeal.org.uk</a>).
            </blockquote>

            <div class="block">
                <h3>Previous Charity Weeks by the Islamic Society</h3>

                <p>
                    Previous Charity Weeks have been a huge success. Last year we raised <strong>over £26,000</strong> for a <strong>Water Sanitation Project in Bangladesh</strong>. The year before we raised around <strong>£25,000</strong> for the <strong>Zaatari Refugee Camp in Jordan</strong>.
                </p>
            </div>

            <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. -->
<div class="tt-widget"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/new-order/123567/1d5d/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js" data-url="https://www.tickettailor.com/new-order/123567/1d5d/ref/website_widget/" data-type="inline" data-inline-minimal="false" data-inline-show-logo="true" data-inline-bg-fill="true"></script></div>
<!-- End of Ticket Tailor Widget -->
        </article>
    </div>
</div>

<!-- GALLERY -->
<div id="gallery">
	<% for i in 1..14 %>
		<%= tag :img, :src => "/images/cw-16-17/p#{i}.jpg", :"data-size" => "2048x1365" %>
	<% end %>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
