---
type: "no-sidebar"
title: "discover-islam-week"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2>Discover Islam Week</h2>
				<p>
          Discover Islam Week is an annual campaign run by many Islamic Societies across the country to spread the message of Islam to everyone on campus over the course of a week.
				</p>
			</header>

      <iframe class="yt-video" src="https://www.youtube.com/embed/P8ps605b0Es">
      </iframe>

      <p>
        The University of Birmingham Islamic Society hire a marquee in the centre of campus (next to Old Joe) and hold Islamic talks every day, host educational stalls about Islam and serve free food.
        Mentioned by many Islamic Society members to be the best week in the year because of the amazing unity and team work Islamic Society members take part in to make the week a success.
      </p>

      <p>
        The Islamic Society organise this in a similar way to Charity Week where we have teams for specific parts of Discover Islam Week such as Outreach, and we hold Planning Meetings a few weeks before Discover Islam Week for anyone to volunteer and join a team.
        It’s a fantastic experience and we’d heavily recommend that you take part. It’s an experience you’ll never forget (as you might have seen in the video above!).
      </p>

      <p>
        [GALLERY]
      </p>
		</article>
	</div>
</div>
