---
type: "no-sidebar"
title: "freshers-week"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2>Freshers Week</h2>
				<p>
          Freshers Week is essentially Welcome Week at the University of Birmingham
          for new students. Students are introduced to the University with induction
          lectures and all Student Societies run a variety of events during Freshers Week
          to enable the new students to meet like minded people and make new friends.
				</p>
			</header>

      <p>
        The Islamic Society organises an incredible itinerary of Freshers Week events every single year and this year is no different! We have a great list of events which you can see on the poster below.
        It’s a great opportunity to build new friendships and enjoy yourself in the fund and welcoming atmosphere the Islamic Society provides.
      </p>

      <p>[Freshers Week 2017 Poster]</p>

      <p>
        We finish off Freshers Week with our annual Freshers Dinner where we serve a 3 course
        meal and host entertainment at a hall in Birmingham to allow new students to socialise
        and have fun with their newly found friends.
        You can view the event page using the following link: [Freshers Dinner Facebook event page link]
      </p>

      <p>[Freshers Dinner Poster]</p>

      <div class="block">
        <h3>If you have any questions about Freshers Week 2017 please email</h3>
        <ul>
          <li>Anas Abu (<a href="mailto:vicebrother@ubisoc.co.uk">vicebrother@ubisoc.co.uk</a>)</li>
          <li>Salma Abdallah (<a href="vicesister@ubsico.co.uk">vicesister@ubsico.co.uk</a>)</li>
        </ul>
      </div>

      <div class="block">
        <h3>Previous Freshers Week gallery</h3>
        <p>[Gallery]</p>
      </div>
		</article>
	</div>
</div>
