---
type: "no-sidebar"
title: "the-ramadan-project"
htitle: "The Ramadan Project"
description: "Ramadan is the most holy month of the year for Muslims. The Islamic Society support Muslims at the University by providing Iftaar and Taraweeh every single day in Ramadan."
additional_css: ["photoswipe/photoswipe.css", "photoswipe/default-skin/default-skin.css"]
additional_js: ["photoswipe/photoswipe.min.js", "photoswipe/photoswipe-ui-default.min.js"]
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2>The Ramadan Project</h2>
                <p>
                    Ramadan is a holy month in Islam and Muslims around the globe fast from dawn to dusk to seek the pleasure of Allah. Here at the University of Birmingham, the Islamic Society provides iftaar and taraweeh every single day in Ramadan to serve the Muslim students and create a beautiful community atmosphere. Check out the video below to see how Ramadan was at the University in 2017!
                </p>
            </header>

            <iframe class="yt-video" src="https://www.youtube.com/embed/I44M2ZWEz0g" allowfullscreen></iframe>

            <p>
                Ramadan at the University of Birmingham is an experience in itself. Many of us who stayed away from parents due to exams or other reasons were fearing that Ramadan would be very loney at University. However, the Islamic Society creates a homely atmosphere and community bringing together students from a huge variety of nationalities.
            </p>

            <div class="gallery-preview">
                <%= tag :img, :src => "/images/rp-16-17/p1.jpg" %>
                <div class="gp-content">
                    <h1><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</h1>
                    <p>
						Enjoy iftaar and taraweeh with your fellow Muslim students.
                    </p>
                </div>
                <div class="gp-overlay">
                    <div class="gp-button">
                        <i class="fa fa-search" data-gallery="gallery" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <p>
                If you have any questions about Ramadan at the University of Birmingham and the services the Islamic Society offers, please feel free to contact <a href="mailto:info@ubisoc.co.uk">info@ubisoc.co.uk</a>. We'll be announcing all the details closer to the date inshaAllah. We'd love to see you next Ramadan!
            </p>
        </article>
    </div>
</div>

<!-- GALLERY -->
<div id="gallery">
	<% for i in 1..20 %>
		<%= tag :img, :src => "/images/rp-16-17/p#{i}.jpg", :"data-size" => "2048x1365" %>
	<% end %>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
