---
type: "no-sidebar"
title: "discover-islam-week-2018"
htitle: "Discover Islam Week 2018"
description: "Promotion of Discover Islam Week 2018"
additional_css: ["https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text:400,600"]
---

<style>
    .diw18-promo {
        font-family: 'Crimson Text', serif;
        font-size: 1.1em;
        position: relative;
    }

    .diw18-promo:before {
        content: " ";
        background: url('../images/diw18-promo/diw18-promo-back.jpg');
        opacity: 0.13;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: block;
    }

    .diw18-promo-header {
        font-family: 'Cinzel', serif;
        font-size: 3em;
        text-shadow: 0px 1px 1px #565656;
        color: #003B36;
        text-align: center;
    }

    .diw18-promo .block {
        background-color: #00433C;
        color: #fafafa;
    }

    .diw18-promo .block h3 {
        color: #fafafa;
    }

    .diw18-promo .event {
        font-size: 1.3em;
        font-weight: 600;
        padding: 0.6em 0 0.6em 1.2em;
        margin-bottom: 10px;
    }

    .promo-quote {
        margin-top: 23px;
    }
</style>

<div class="diw18-promo wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2 class="diw18-promo-header">Discover Islam Week 2018</h2>
            </header>

            <div class="block">
                <h3>In the name of Allah, the Most Beneficient, the Most Merciful, we begin and end.</h3>

                <blockquote class="promo-quote">
                    Discover Islam Week has come,
                    a week of dialogue,
                    a week of love,
                    a week of kindness,
                    a week of gratitude,
                    a week of brotherhood and sisterhood,
                    a special week,
                    let's make the most out it
                    before it's gone.
                </blockquote>
            </div>

            <div class="block">
                <h3>What is Discover Islam Week?</h3>
                <p>
                    This year's Discover Islam Week will take place from the 5th of February to the 9th of February.
                </p>

                <p>
                    The week consists of a variety of talks and events, and various socials which aims are: to introduce,
                    to further understandings of and to encourage discussion of Islam in times where scarcity of dialogue
                    and the shifting of focus to the narrative of various media outlets created a deteriorating effect in
                    society's understanding of Islam.
                </p>

                <p>
                    Each day of the week will feature programs that explore the Muslim experience, from lectures to
                    discussions from panels to Q&amp;As. Each talk will cover a specific aspect of Islam and the
                    impact of it in the society. Discover Islam Week is thus an amazing opportunity for all who are interested in
                    Islam and want to explore topics such as 'Women in Islam' or 'Jihad' and many more.
                    The objective of the week is therefore to create an atmosphere of mutual understanding which will
                    help to foster dialogue between people.
                </p>
            </div>

            <div class="block">
                <h3>Events lineup</h3>

                <blockquote class="event">
                    <p>Monday 05/02/18 - Why One God? @ 1pm</p>
                </blockquote>

                <blockquote class="event">
                    <p>Tuesday 06/02/18</p>
                    <p>Authenticity of Hadith @ 1pm</p>
                    <p>Jihad @ 6pm</p>
                </blockquote>

                <blockquote class="event">
                    <p>Wednesday 07/02/18</p>
                    <p>Shariah Law @ 1pm</p>
                    <p>Sisters' International Night @ 5pm</p>
                </blockquote>

                <blockquote class="event">
                    <p>Thursday 08/02/18 - Women in Islam @ 6pm</p>
                </blockquote>

                <blockquote class="event">
                    <p>Friday 09/02/18 - Open Friday Sermon: Tawakkul @ 1pm</p>
                </blockquote>
            </div>

            <div class="block">
                <h3>More information</h3>
                <ul>
                    <li>Aaquib Naved - <a href="mailto:headbrother@ubisoc.co.uk">headbrother@ubisoc.co.uk</a></li>
                    <li>Nimco Mumin - <a href="mailto:headsister@ubisoc.co.uk">headsister@ubisoc.co.uk</a></li>
                </ul>
            </div>
        </article>
    </div>
</div>
