<div id="footer-wrapper">
	<div id="footer" class="container">
		<header class="major">
			<h2>Follow us on social media!</h2>
			<p>
				Our social media is well maintained, active and is the best place to get
				up to date information about our current events, activities and opportunities.
				If you can’t find something on this website, it’s likely to be on our social media.
			</p>
		</header>
		<div class="row">
			<section class="12u 12u(narrower)">
				<div class="row 0%">
					<ul class="divided icons 6u 12u(mobile)">
						<li class="icon fa-twitter"><a href="https://twitter.com/UBISOC"><span class="extra">twitter.com/</span>UBISOC</a></li>
						<li class="icon fa-facebook"><a href="https://www.facebook.com/UoBIslamicSociety"><span class="extra">facebook.com/</span>UoBIslamicSociety</a></li>
					</ul>
					<ul class="divided icons 6u 12u(mobile)">
						<li class="icon fa-instagram"><a href="https://www.instagram.com/ubisoc/"><span class="extra">instagram.com/</span>ubisoc</a></li>
						<li class="icon fa-youtube"><a href="https://www.youtube.com/channel/UCoj9iSWBCuG5TdTteFxJ2uA"><span class="extra">youtube.com/</span>channel/UCoj9iSWBCuG5TdTteFxJ2uA</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div id="copyright" class="container">
		<p>&copy; University of Birmingham Islamic Society. All rights reserved.</p>
	</div>
</div>
