<% if current_page.data.title == "index" %>

<header>
  <!--<h2>University of Birmingham
  <br /> :width => '35', :class => 'logo'
  Islamic Society</h2>-->
  <%= image_tag 'images/logo.png', :width => '300' %>
</header>

<% elsif current_page.data.title == "who-we-are" %>

<header>
  <h2>Who We Are</h2>
</header>
<p>Page subtitle - just a test</p>

<% end %>
