<% if current_page.data.title == "index" %>

<header>
  <!--<h2>University of Birmingham
  <br /> :width => '35', :class => 'logo'
  Islamic Society</h2>-->
  <%= image_tag 'images/logo.png', :width => '300' %>
</header>

<% end %>
