<nav id="nav">
	<ul>
		<li><%= link_to 'Home', '/index.html' %></li>
		<li><%= link_to 'Who we are', '/who-we-are.html' %></li>
		<li>
			<a href="#">Campus</a>
			<ul>
				<li><a href="#">Prayer Room locations</a></li>
				<li><a href="#">Prayer times</a></li>
			</ul>
		</li>
		<li>
			<a href="left-sidebar.html">Living in Birmingham</a>
			<ul>
				<li><a href="#">Halal places to eat on campus &amp; around campus</a></li>
				<li><a href="#">Local mosques</a></li>
				<li><a href="#">Accomodation</a></li>
				<li><a href="#">Public transport</a></li>
				<li><a href="#">Things to do &amp; see</a></li>
			</ul>
		</li>
		<li><a href="right-sidebar.html">Merchandise</a></li>
		<li><a href="no-sidebar.html">Discount card</a></li>
	</ul>
</nav>
