---
type: "no-sidebar"
title: "discount-card"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header class="text-center">
                <h2>Discount card</h2>
                <p>
                    Presenting to you… the new and improved… University of Birmingham Islamic Society Discount Card!
                </p>
            </header>

            <%= tag :img, :src => "/images/discount-card/p1.jpg", :class => "image" %>

            <p>
                This year, we’re partnering up with Aston University Islamic Society and iMed (Islamic Medical Ethics Society) to bring to you a card you are gonna love to have!
            </p>

            <p>
                After our success last year, with 21 restaurants/outlets registered all around Birmingham, we’ve gone and improved it for you, so you can get discounts at the places that matter to you.
            </p>

            <div class="block">
                <h3>What is the Discount Card?</h3>
                <p>
                    The Discount Card is a card you can buy from the Islamic Society. You can show this card to any of the restaurants or outlets signed up to the card and they will give you an exclusive discount for whatever you are buying. Perfect for getting a cheaper
                    meal and trying out new restaurants with friends!
                </p>
                <p>
                    It gives great publicity and marketing to the restaurants/outlets on the scheme while simultaneously benefiting the users of the card. A win/win situation for everyone.
                </p>
            </div>

            <div class="block">
                <h3>Wow, that sounds amazing, how much does it cost and how long does the card last for?</h3>
                <p>
                    It costs only <strong>£5</strong> and the card is valid for the whole academic year.
                </p>
            </div>

            <div class="block">
                <h3>There must be some sort of catch. That sounds like a deal too good to be true.</h3>
                <p>
                    It's funny you say that, because there actually isn't. All you do is buy a discount card from a committee member and off you go. The only requirement is that you are a registered member of the Islamic Society (which is free to do!).
                </p>
            </div>

            <div class="block">
                <h3>Where can I get a card from?</h3>
                <p>
                    You can buy it off any committee member or you can email:
                    <a href="mailto:treasurer@ubisoc.co.uk">treasurer@ubisoc.co.uk</a>
                </p>
            </div>

            <div class="block">
                <h3>I have a great restaurant/outlet to sign up to the card</h3>
                <p>
                    Get in touch with: <a href="mailto:treasurer@ubisoc.co.uk">treasurer@ubisoc.co.uk</a>
                </p>
            </div>

            <div class="block">
                <h3>I am a restuarant/outlet owner. I would like to enquire about joining the Discount Card</h3>
                <p>
                    That’s fantastic! Please email <a href="mailto:treasurer@ubisoc.co.uk">treasurer@ubisoc.co.uk</a> and we’ll sort it out as soon as possible.
                </p>
            </div>
        </article>
    </div>
</div>
