---
type: "no-sidebar"
title: "freshers-guide"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2>The Fresher's Guide</h2>
				<p>
          Are you a fresher? Want to know more about the University and the Islamic Society?
				</p>
			</header>

      <p>To finish</p>
		</article>
	</div>
</div>
