---
type: "homepage"
title: "index"
---

<!-- Recent news & Events -->
<div class="wrapper">
	<div class="container">
		<div class="row">
			<section class="6u 12u(narrower)">
				<header>
					<h2>Recent news</h2>
				</header>
				<ul class="items">
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
					<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
					<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
				</ul>
			</section>
			<section class="6u 12u(narrower)">
				<header>
					<h2>Events</h2>
				</header>
				<iframe src="https://calendar.google.com/calendar/embed?src=ubisoc.co.uk_b2ts667q9edkgchql2nmcrb6ps%40group.calendar.google.com&ctz=Europe/London" style="border: 0" width="640" height="480" frameborder="0" scrolling="no"></iframe>
			</section>
		</div>
	</div>
</div>

<!-- Promo -->
<div id="promo-wrapper">
	<section id="promo">
		<h2>Don't know the campus yet? Where can I find prayer spaces?  </h2>
		<a href="#" class="button">More info</a>
	</section>
</div>

<!-- Campaigns -->
<div class="wrapper">
	<section class="container">
		<header class="major">
			<h2>Our campaigns</h2>
			<p>Throughout the year we run campaigns for students on campus.</p>
		</header>
		<div class="row features">
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
				</div>
				<h3>Freshers Week</h3>
				<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
				vel sem sit dolor neque semper magna lorem ipsum.</p>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
				</div>
				<h3>Charity Week</h3>
				<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
				vel sem sit dolor neque semper magna lorem ipsum.</p>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
				</div>
				<h3>Discover Islam Week</h3>
				<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
				vel sem sit dolor neque semper magna lorem ipsum.</p>
			</section>
		</div>
		<ul class="actions major">
			<li><a href="#" class="button">More...</a></li>
		</ul>
	</section>
</div>
