---
type: "homepage"
title: "index"
---

<div class="wrapper">
	<div class="container">
		<header id="intro" class="major">
			<h2>Welcome to the University of Birmingham Islamic Society</h2>
			<p>
				The Islamic Society at the University of Birmingham is a vibrant, fast growing society which serves and represents Muslim students at the University.
			</p>
			<%= link_to 'More...', '/who-we-are/intro-to-isoc.html', :class => 'button' %>
		</header>
	</div>
</div>

<!-- Promo -->
<div id="promo-wrapper">
	<section id="promo">
		<h2>Are you a Fresher? Don't know the campus yet? Want to know your ISOC?</h2>
		<a href="#" class="button">More info</a>
	</section>
</div>

<!-- Recent news & Events -->
<div class="wrapper">
	<div class="container">
		<div class="row">
			<section class="6u 12u(narrower)">
				<header>
					<h2>Recent news</h2>
				</header>
				<ul class="items">
					<li>
						<strong>Launch of our brand new website!</strong><br>
						We managed to launch our brand new website recently. It will be a place where we can place all information concerning the Islamic Society and be your one stop shop for all things ISOC. We hope to keep this website up to date with upcoming events and activities too!
					</li>
					<li>
						<strong>Fresher’s Week Incoming</strong><br>
						With Fresher’s Week fast approaching, take the time out to check out what Fresher’s Week is and how you can get involved in our Fresher’s Week tab on this website. You can check out pictures of previous Fresher’s Weeks there too!
					</li>
					<li>
						<strong>Post Graduate Voice</strong><br>
						The Islamic Society’s pioneering Post Graduate student development
						programme is going full steam ahead! We have recently created a
						Post Graduate Voice which is a group for active Post Graduates
						to shape the way the Islamic Society serves the Post Graduate
						community at the University of Birmingham.
						If you would like to get involved, please email: <a href="mailto:post.grad@ubisoc.co.uk">post.grad@ubisoc.co.uk</a>
					</li>
				</ul>
			</section>
			<section class="6u 12u(narrower)">
				<header>
					<h2>Events</h2>
				</header>
				<iframe src="https://calendar.google.com/calendar/embed?src=ubisoc.co.uk_b2ts667q9edkgchql2nmcrb6ps%40group.calendar.google.com&ctz=Europe/London" style="border: 0" width="640" height="480" frameborder="0" scrolling="no"></iframe>
			</section>
		</div>
	</div>
</div>

<!-- Campaigns -->
<div class="wrapper">
	<section class="container">
		<header class="major">
			<h2>Our campaigns</h2>
			<p>Throughout the year we run campaigns for students on campus.</p>
		</header>
		<div class="row features">
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
				</div>
				<h3>Freshers Week</h3>
				<p class="text-justify">
					Freshers Week is essentially Welcome Week at the University of Birmingham
          for new students. Students are introduced to the University with induction
          lectures and all Student Societies run a variety of events during Freshers Week
          to enable the new students to meet like minded people and make new friends.
				</p>
				<ul class="actions major">
					<li><%= link_to 'More...', '/campaigns/freshers-week.html', :class => "button" %></li>
				</ul>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
				</div>
				<h3>Charity Week</h3>
				<p class="text-justify">
					Charity Week is an annual campaign run by Islamic Societies across
					the country where they raise money for a particular cause over the
					course of a week.
				</p>
				<ul class="actions major">
					<li><%= link_to 'More...', '/campaigns/charity-week.html', :class => "button" %></li>
				</ul>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
				</div>
				<h3>Discover Islam Week</h3>
				<p class="text-justify">
					Discover Islam Week is an annual campaign run by many Islamic Societies
					across the country to spread the message of Islam to everyone on campus
					over the course of a week.
				</p>
				<ul class="actions major">
					<li><%= link_to 'More...', '/campaigns/discover-islam-week.html', :class => "button" %></li>
				</ul>
			</section>
		</div>
	</section>
</div>
