---
type: "no-sidebar"
title: "merchandise"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2 class="text-center">Merchandise</h2>
            </header>

			<div class="block block-hero">
				<p class="info text-center">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
				</p>
				<p>
					Looking for a new hoodie? Love ISOC a lot? Well, the University of Birmingham Islamic Society Merchandise is just the right thing for you.
					<br>
					Watch this space on how to make your orders in the future!
				</p>
			</div>
        </article>
    </div>
</div>
