---
type: "no-sidebar"
title: "merchandise"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2>Merchandise</h2>
				<p>
          Looking for a new hoodie? Love ISOC a lot? Well,
          the University of Birmingham Islamic Society Merchandise
          is just the right thing for you.
				</p>
			</header>
			<p>
        The Islamic Society is selling merchandise such as hoodies and mugs
        emblazoned with your favourite Islamic Society’s logo in a colour
        and size which you are looking for!
			</p>
			<p>
        You can order using the following form <a href="#">[form link]</a>
			</p>
      <p>
        If you have any questions or suggestions, please email:
        <a href="mailto:treasurer@ubisoc.co.uk">treasurer@ubisoc.co.uk</a>
      </p>

			<p>[insert merchandise pic gallery]</p>
		</article>
	</div>
</div>
