---
type: "no-sidebar"
title: "sponsors"
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2>Our sponsors</h2>
                <p>
                    The Islamic Society is proud to be partnered with a number of great institutions and companies. They promote great causes and our partnership is a fantastic way to develop both our partner organisations and the Islamic Society.
                </p>
            </header>

            <h3>We are proud to announce, that for the year 2017/18, our partners are</h3>
            <p>[Insert pic with logos]</p>

            <div class="block">
                <h3>iSyllabus</h3>
                <p>
                    UBISOC is partnering with iSyllabus to bring the attention of our members to their 1 year Islamic Diploma on 'Living faith through understanding'!
                </p>

                <p>
                    The iSyllabus introductory course is designed in a graded manner, with students being introduced to core ideas that are developed and carefully expanded as the course continues. By integrating and cross referencing the content of all modules, the experience
                    is smooth and seamless.
                </p>

                <h4>iSyllabus 1 year Islamic Diploma - Living faith through understanding</h4>
                <p>
                    The course offers an informed and coherent representation of the Islamic faith tradition which has always been a condition of Islamic renaissance. The iSyllabus consists of modules that shed much needed light on the timeless principles that protect the
                    Islamic faith from arbitrary and extremist distortions, while concurrently allowing the tradition the capacity of facing up to the demands of modern life.
                </p>

                <p>The course will cover the following topics:</p>
                <ol>
                    <li>Towards a Tranquil Soul</li>
                    <li>Fulfilling ones responsibility to family and society</li>
                    <li>The Laws of Purity and Prayer</li>
                    <li>Articulating Muslim belief</li>
                    <li>The tradition of the scholars</li>
                    <li>The Fiqh of time and Place</li>
                </ol>
            </div>
        </article>
    </div>
</div>
