---
type: "no-sidebar"
title: "sponsors"
htitle: "Sponsors"
description: "The Islamic Society is proud to be partnered with a number of great institutions and companies."
additional_css: ['sponsors.css']
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">
            <header>
                <h2>Our sponsors</h2>
                <p>
                    The Islamic Society is proud to be partnered with a number of great institutions and companies. They promote great causes and our partnership is a fantastic way to develop both our partner organisations and the Islamic Society.
                </p>
            </header>

            <div class="block">
                <%= tag :img, :src => "/images/sponsors/isyllabus.png" %>

                <p>
                    UBISOC is partnering with iSyllabus to bring the attention of our members to their 1 year Islamic Diploma on 'Living faith through understanding'!
                </p>

                <p>
                    The iSyllabus introductory course is designed in a graded manner, with students being introduced to core ideas that are developed and carefully expanded as the course continues. By integrating and cross referencing the content of all modules, the experience
                    is smooth and seamless.
                </p>

                <h4>iSyllabus 1 year Islamic Diploma - Living faith through understanding</h4>
                <p>
                    The course offers an informed and coherent representation of the Islamic faith tradition which has always been a condition of Islamic renaissance. The iSyllabus consists of modules that shed much needed light on the timeless principles that protect the
                    Islamic faith from arbitrary and extremist distortions, while concurrently allowing the tradition the capacity of facing up to the demands of modern life.
                </p>

                <p>The course will cover the following topics:</p>
                <ol>
                    <li>Towards a Tranquil Soul</li>
                    <li>Fulfilling ones responsibility to family and society</li>
                    <li>The Laws of Purity and Prayer</li>
                    <li>Articulating Muslim belief</li>
                    <li>The tradition of the scholars</li>
                    <li>The Fiqh of time and Place</li>
                </ol>
            </div>

            <div class="block">
                <%= tag :img, :src => "/images/sponsors/asi.jpeg", :width => "200px" %>

                <p>
                    Al-Salam Institute (ASI) teaches Arabic and Islamic sciences in London and online through our part-time Alimiyyah Programme – authorised by Dr Akram Nadwi.
                    ASI was established in Oxford, UK in 2006 as a means to facilitate the study of Arabic and traditional Islamic sciences for full-time students and working professionals.
                    Through a combination of authentic Islamic scholarship and modern academic advancements, ASI delivers its pioneering 6-year Alimiyyah Programme (aka Islamic Scholarship Programme) in London and online live.
                </p>

                <p>
                    You can visit their website for more details about them and the courses they offer:
                    <a href="http://alsalam.ac.uk">http://alsalam.ac.uk</a>
                </p>

                <p>
                    Al Salam offer many online courses so it's a great option for those who are looking to study but cannot physically attend classes or need to study at their own schedule.
                </p>
            </div>

            <div class="block">
                <%= tag :img, :src => "/images/sponsors/al-maghrib.jpeg", :width => "270px" %>

                <p>
                    Ultimately, the purpose of AlMaghrib Institute is to make learning Islam in a quality fashion as easy as possible. We thereby aim to equip our students with deep knowledge and practical application, and through this education, hope to raise leaders from among them who will serve their communities and humanity at large.
                    AlMaghrib runs on the backs of a highly committed team of staff, instructors, and hundreds of dedicated volunteers worldwide. This powerful well-oiled engine runs around the clock, 24 hours a day, 7 days a week.
                </p>

                <p>
                    This year, the Islamic Society and Al Maghrib have partnered up to bring you 4-5 seminars at the University of Birmingham! Featuring well known scholars such as Shaykh Abu Eesa, it's an excellent opportunity for our members to attend high quality courses taught by well known scholars.
                </p>

                <p>
                    Al Maghrib Seminars run during a weekend (Saturday and Sunday 10am-7pm).
                </p>

                <p>
                    As part of our partnership we have some great benefits for our members.
                </p>

                <ul>
                    <li>
                        The Friday before each seminar, Al Maghrib and UBISOC will be holding a unique lecture 7pm-10pm completely free run by the same scholar who will be teaching the weekend seminar. It's a great opportunity to get a taste of an Al Maghrib event.
                    </li>
                    <li>
                        Al Maghrib will be offering an exclusive discount to UBISOC members for each seminar. Look out for the promo code!
                    </li>
                </ul>

                <p>
                    For more information, please visit: <a href="https://www.almaghrib.org">https://www.almaghrib.org</a>
                </p>
            </div>

            <div class="block">
                <%= tag :img, :src => "/images/sponsors/alburaq-cargo.jpeg", :width => "280px" %>

                <p>
                    This year, we're glad to announce that we are sponsored by Al Buraq Cargo!
                </p>

                <p>
                    Al Buraq provide shipping of furniture, luggage and other goods for any student at very good rates. This is especially useful for international students if you'd like to transport any luggage from the UK to your home country or vice versa.
                </p>

                <p>
                    Al Buraq Cargo offer great prices and are an excellent option.
                </p>

                <p>
                    As part of our agreement, you'll see Al Buraq Cargo at many of our events, from our Post Graduate Dinner to our International Students Night! You can take this opportunity to find out more about Al Buraq and what they can do for you.
                </p>

                <p>
                    Please get in touch with the Islamic Society at <a href="mailto:info@ubisoc.co.uk">info@ubisoc.co.uk</a>
                    if you want to know which upcoming events Al Buraq Cargo will be present at.
                </p>

                <p>
                    For more information, please visit: <a href="http://alburaqcargo.co.uk">http://alburaqcargo.co.uk</a>
                </p>
            </div>
        </article>
    </div>
</div>
