---
type: "no-sidebar"
title: "intro-to-isoc"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
				<h2>Assalamu alaykum! Welcome to the University of Birmingham Islamic Society!</h2>
				<p>
					The Islamic Society at the University of Birmingham is a vibrant, fast growing society which serves and represents Muslim students at the University of Birmingham.
				</p>
			</header>
			<p>
				We organise <strong>Jumuah (Friday prayers)</strong>, <strong>campaigns</strong> (like our very successful annual Discover Islam Week) and <strong>over 100 different events</strong> over the course of the year!
				We have socials, Islamic talks, career development workshops and many more.
				We try and provide Muslims with an alternative to the regular University lifestyle by creating a fun, warm and welcoming atmosphere at all our events.
				We believe that belonging to a <strong>welcoming and active community</strong> is a vital aspect in enjoying University so we have done our utmost to make sure that you can come and join such a community.
			</p>
			<p>
				You can browse our website for more information regarding the <%= link_to 'Islamic Society Committee', '/who-we-are/intro-to-committee.html' %>, prayer spaces, halal food and much more.
				If you have any questions you can get in touch via our social media sites (links below).
				We hope you have an amazing time at the University of Birmingham and would love to see you at one of our events or activities!
			</p>

			<p>[Pics] (Including pic of our Most Outstanding Society of the Year Award and brief description]</p>
		</article>
	</div>
</div>
