---
type: "no-sidebar"
title: "intro-to-committee"
---

<div class="wrapper">
	<div class="container" id="main">
		<article id="content">
			<header>
        <h2>Introduction to the Committee</h2>
				<p>
					The University of Birmingham Islamic Society has a large and extremely hardworking committee dedicated to serving every Muslim student on campus.
				</p>
			</header>
      <p>
        We have around <strong>20 positions</strong> with different positions split into teams concerning particular areas of the Islamic Society such as marketing.
        Each year, we elect a new committee for the following academic year at March during our <strong>Annual General Meeting</strong>.
        Anyone is free to run for a position so feel free to join our amazing committee by running for a role at our <strong>next AGM in March 2018</strong>.
      </p>

      <p>
        You can find a diagram of the committee structure and our committee members for the year 2017/18 below:
      </p>

      <p>
        You can find introductions to each committee member below. Please feel free to contact any of the committee if you have any ideas, questions or queries about anything at all!
      </p>
		</article>
    <div class="cards">
      <div class="inner-cards">
  			<div class="card">
          <div class="card-image">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/420x500"></a>
          </div>

  				<header class="card-header">
  					<h3>Aaquib Naved</h3>
            <p>Co-president</p>
  				</header>

  				<p class="card-content">
            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
  				  vel sem sit dolor neque semper magna lorem ipsum.
          </p>
  			</div>
        <section class="card">
          <div class="card-image">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/420x500"></a>
          </div>

  				<header class="card-header">
  					<h3>Aaquib Naved</h3>
            <p>Co-president</p>
  				</header>

  				<p class="card-content">
            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
  				  vel sem sit dolor neque semper magna lorem ipsum.
          </p>
  			</section>
        <section class="card">
          <div class="card-image">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/420x500"></a>
          </div>

  				<header class="card-header">
  					<h3>Aaquib Naved</h3>
            <p>Co-president</p>
  				</header>

  				<p class="card-content">
            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
  				  vel sem sit dolor neque semper magna lorem ipsum.
          </p>
  			</section>
      </div>
		</div>
	</div>
</div>
